<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mike.customview" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="fragment.StaticFragmentActivity"/>
        <activity android:name="fragment.DynamicFragmentActivity"/>
        <activity android:name="mike.customview.LovelyActivity"/>
        <activity android:name="fragmentList.MyListFragmentActivity"/>
        <activity android:name="service.ServiceActivity"/>
        <activity android:name="asyncTask.AsyncTaskActivity"/>

        <service android:name="service.BoundService"/>
        <activity android:name="database.DatabaseActivity"/>
        <activity android:name="database.LoaderActivity"/>
    </application>

</manifest>
